<div>
    <form action="/urls" method="post">
      <!-- <label for="website">Shorten URL</label> -->
      <input type="url" name="webpage" placeholder="Paste link to shorten"/> 
      <input type="submit" value="Shorten URL"/>
    </form>
  </div>
