<div class="container">
  <h1>Here's your short.ly!</h1>
  <article> <a href="/<%= "#{@url.key}" %>"> /<%= @url.key %></a> </article>

  <h2>Would you like to make a new short.ly?</h2>
  <%= erb :_form_partial %>
  
</div>
