<div class="container">
  <h1>Welcome to short.ly!</h1>
  <%= erb :_form_partial %>
  <div>
    <h2>Current short.ly links!</h2>
    <ul>
     <% @urls.each do |url| %>
     <li><%= "<span><a href='#{url.webpage}'>#{url.webpage}</a></span> <span style='float:right'><a href='/#{url.key}'> #{url.key}</a> #{url.click_count} </span>" %></li>
     <% end %>
   </ul>
  </div>
  
</div>
