<div class="container">
  <h1>Welcome to short.ly!</h1>
    <%if !session[:user_email] %>
  <form method="get" action="/login" name="login" style='float:right'>
    <input type="submit" value="Log In">
  </form>
  <form method="get" action="/signup" name="signup" style='float:right'>
    <input type="submit" value="Sign Up">
  </form>
  <% else %>
    <form action="/logout" method="post" style='float:right'>
      <input type="submit" value="Log Out" />
  </form>
  <% end %>
  <%= erb :_form_partial %>
  <% unless @urls.nil? %>
  <div>
    <h2>Current short.ly links!</h2>
    <ul>
     <% @urls.each do |url| %>
     <li><%= "<span><a href='#{url.webpage}'>#{url.webpage}</a></span> <span style='float:right'><a href='/#{url.key}'> #{url.key}</a> #{url.click_count} </span>" %></li>
     <% end %>
   </ul>
  </div>
  <% else %>
    <h2>Get started! With Short.ly!</h2>
  <% end %>
  
</div>
